@use "cards/allCards" ;

.hand {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  margin: 0 auto ;

  height: 30vh ; 
  width: 75%;

  isolation: isolate;
  display: flex;
  justify-content: space-around;
  
  &::before{
    position: absolute;
    content: "";
    bottom: 0; left: 0; right: 0;
    height: 50px; width: 100%;
    background-color: rgb(80, 77, 77);

    z-index: -1;
  }
}
.squeezer{
  width: fit-content;
  height: 100%;
  flex: 2 1 auto;
}
.squeezer2{
  order: 1;
}
.squeezer2{

  order: 999;
}
    
.cardParent{
  flex: 2;
  width: 0;
  height: 100%;
  transition: all .3s linear;
  &.removing{
  flex: 0.00001;
  }
}
.card{
  position: relative;
  background-color: #fff;
  border: 3px solid black;

  // height: 30vh; min-height: 150px;
  // width: 15vw; min-width: 100px ; max-width: 150px;
  width: 150px; height: 200px;
  margin-left: -100px;

  transition: transform 150ms ease-out ;
  transform-origin:  center;
  z-index: 0;

  border: 10px solid rgba(0, 0, 0, 0.28);
  border-top-color:rgba(255, 255, 255, 0.374) ;
  border-bottom-color:rgba(0, 0, 0, 0.423) ;


  &:hover , &:focus-within {
    transform: translateY(-30%) scale(1.2);
    z-index: 2;
  }
  &:nth-of-type(1){
    margin-left: 0;
  }
}

.card.selectedCard {
box-shadow: 0 0 10px 10px rgb(126, 213, 241);
z-index: 1;

  transform: translateY(-30%) scale(1.2);
}






@media (max-width:500px){
  .hand{
    height: 30vw;
  }
  // .card{
  //   // max-height: 33vw;
  //   // width: 15%;
  //   transform: scale(0.7);
  // }
  }
@media (max-width:1000px){
  .card{
    // max-height: 33vw;
    // width: 15%;
    transform: scale(0.7);


    &:hover , &:focus {
    transform: translateY(-30%) scale(.7);
    z-index: 2;
  }
  }
  .card.selectedCard {
    box-shadow: 0 0 10px 10px rgb(126, 213, 241);
    z-index: 1;
    
    transform: translateY(-30%) scale(0.7);
  }
.squeezer2{
  flex: 4;
}
}