@use "./entities/allEntities";
@use "effects/allEffects" ;





// SCANS
.entityScan{
  box-sizing: initial; 
  position: absolute;
  padding:  10px;

  width: 200px;max-height: 400px;
  color: white;
  background-color: var(--wood-orange-dark);
  text-transform: capitalize;
  
  display: flex;
  flex-direction: column;

  transition: all 200ms ease-in-out;
  animation: scanInit 200ms;
  z-index: 100;

  overflow: auto;

  & h1{ text-align: center; text-decoration: underline; box-shadow: 0 15px 0 -10px white;margin-bottom: 10px;}


  & .scannedBuffs , & .scannedDebuffs{
    flex: 1 1 auto;
    width: 100%; 
  }
  & .scannedBuffs::before , & .scannedDebuffs::before{
    content: "";display:block ;
    margin: 5px; 

  }
  & .scannedBuffs:empty , & .scannedDebuffs:empty{
    display: none;opacity: 0;
  }
        & .scannedBuffs::before{
          content: "Buffs :";color: rgb(181, 255, 107);
        }
        & .scannedDebuffs::before{
          content: "Debuffs :";color: rgb(255, 119, 146);
        }



  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-thumb{
    appearance: none;
    background: rgb(139,139,139);
    background: var(--silver-gradient);
    
    display: block;
    height: 10px;
    border-radius: 15px;
  }
  &::-webkit-scrollbar-track{
    appearance: none;
    box-shadow: inset 0 0 5px white;
  }

  @keyframes scanInit {
    from{transform: scale(0);}
    to{transform: scale(1);}
  }
}
.defaultEntityScan.lefty{ right: 100%;}
.defaultEntityScan.righty{ left: 100%;}

.effect_description{
  border: 3px solid var(--wood-orange);
  background-image: none !important;
  margin: 5px 0;
  & .icon{
    position: relative;top: 5px;
    display: inline;
    width: 1.4em;
  }
  & .effect{
    color: yellow;
    &::before{content: "[";}
    &::after{content: "]:";}
  }
  & .description{
    font-size: .8em;
  }
}




.actionIcon{
  display: grid;
  place-content: center;
  color: white;
  
  box-sizing: initial;
  position: absolute;
  margin: auto;
  right: 0; bottom: 10px ;
  width: 50px;height: 50px;
  font-size:1.4em ;
  text-shadow: 2px 0 black 
  , -2px  0 black
  , 0   2px black
  , 0  -2px black ;
  
  transform: scale(1.2);
  pointer-events: none;
  &:empty{
    display: none;
  }
}

.effectGrid{
  position: absolute;left: 0;bottom: 0;
  padding-left:5% ;
  width: 100%;


  display: grid;


  grid-template-columns: repeat(auto-fit , 25px);
  grid-auto-rows: 25px;

  gap: 5px;


  z-index: -1;

}

// bars
.healthBar{
  position: absolute; top: 0; left: 0;right: 0; margin: auto;
  color: white;
  border: 2px solid black;
  text-align: center;
  font-family: 'Akshar', sans-serif;

  min-width: fit-content;
  max-width: 100%;
  height: 20px;

  transform-origin: center;
  transform: scale(1);
  opacity: .85;
  isolation: isolate;

  transition: width 500ms ease-out;

  & .healthDisplay{
    position: absolute;
    height: 100%; width: 100%;
    background-color: red;
    z-index: -2;
    transition: transform 500ms ease-out;
    transform-origin: left;
  }
  & .healthDrag{
    position: absolute;
    height: 100%; width: 100%;
    background-color: rgb(255, 217, 0);
    z-index: -3;
    transition: transform 50ms ease-in;
    transform-origin: left;
  }

  & .blockBar{display: none;}
  & .blockBar.show{
    display: block;
    position: absolute;
    height: 100%; width: 100%;
    // background-color: rgba(0, 255, 255, 0.308);
    z-index: -1;
    outline: 3px solid lightgray;
    // outline: 3px solid rgba(0, 255, 255);

    & .blockCount {
      position: absolute;
      right: 100%; bottom: 0; top: 0; margin: auto;
      height: 50px;width: 50px;
      background-image: url("../graphics/icons/solid\ shield.png");
      background-size: contain;
      font-size: 20px;
      color: white;
      text-shadow: 2px 0 black 
      , -2px 0  black
      ,0 2px black
      , 0 -2px black ;
      display: grid;
      place-items: center;
        transform: translateX(25%);
    }
  }

}
// selectors
.enemySelector , .friendlySelector {
  position: absolute;
  inset: 0;margin: auto;
  width: 100%;height: 100%;
  border: 5px dotted rgb(255, 217, 0);
  transition: transform 300ms ease-out;
  transform: scale(0);

}
.enemySelector.show ,.friendlySelector.show {
  transform: scale(1);
}

// enem boxes
.enemy-grid{
  position: absolute;
  right: 0;top: 20px;
  width: 70%;height: 60%;
  border: 3px solid red;
  transform-origin: bottom right;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);

  isolation: isolate;
}
.enemy-box{
  position: relative;
  width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.363);
  border: 3px solid black;
  display: flex;
  isolation: isolate;

}

.enemy-box[data-enemy-box1=""]{
  grid-column: 4/5;
  grid-row:2/3 ;
  z-index: 2;
}
.enemy-box[data-enemy-box3=""]{
  grid-column: 3/4;
  grid-row:2/3 ;
  z-index: 2;

}
.enemy-box[data-enemy-box5=""]{
  grid-column: 2/3;
  grid-row:2/3 ;
  z-index: 2;
}
.enemy-box[data-enemy-box7=""]{
  grid-column: 1/2;
  grid-row:2/3 ;
  z-index: 2;
}
.enemy-box[data-enemy-box2=""]{
  grid-column: 4/5;
  grid-row:1/2 ;
  z-index: 1;
}
.enemy-box[data-enemy-box4=""]{
  grid-column: 3/4;
  grid-row:1/2 ;
  z-index: 1;
}
.enemy-box[data-enemy-box6=""]{
  grid-column: 2/3;
  grid-row:1/2 ;
  z-index: 1;
}
.enemy-box[data-enemy-box8=""]{
  grid-column: 1/2;
  grid-row:1/2 ;
  z-index: 1;
}

@media (max-width: 1000px) {
  .enemy-grid{
    transform: scale(.85);
  }
  .healthBar{
    transform: scale(.85) ;
  }
  .actionIcon{
    font-size:unset ;

    right: 0;left: 0; bottom: calc(100% + 10px) ;
    border-width: 4px;
    width: 40px;height: 40px;

    transform: scale(1);
  }
.entityScan{
  transform-origin: top left;
  transform: scale(.6);
}

}



@media (max-width: 500px) {
.actionIcon{
    
    right: 0;left: 0; bottom: calc(100% + 10px) ;
    border-width: 2px;
    width: 25px;height: 25px;
  }
  .entityScan{
    transform-origin: center;
    transform: scale(.6) rotate(90deg);
    animation: scanInit2 200ms;
    
    @keyframes scanInit2 {
      from{transform: scale(0) rotate(90deg);}
      to{transform:scale(.6) rotate(90deg);}
    }
  }
}