.player{
  position: absolute;
  left: 10%; bottom: 40%;

  height: 200px; width: 145px;
  background-color: rgb(162, 162, 231);
}
.side-container{
  position: absolute;left: 0;top: 0;bottom: 0;
  width: 0;
  border: 3px solid purple;

  display: flex; flex-direction: column;

  & *{
  flex: 0 0 auto;
  }

  & .playerEnergyContainer{
    transform-origin:  bottom left;

  }
  & .discardPile {
    transform-origin: top left;

  }
  & .drawPile{
    transform-origin: top left;
  }



}
.playerEnergyContainer{
  margin-top: auto;
  width: 120px;height: 120px;
  display:grid;place-items: center;

  background-image: url("../graphics/cardIcons/energy-icon.png");
  background-size: contain;
  color: white;
  font-size: 1.6em;
  text-shadow: 3px 3px 0 #4f2a0b , 2px 2px 0 #4f2a0b, -2px -2px 0 #4f2a0b, 2px -2px 0 #4f2a0b, -2px 2px 0 #4f2a0b, 2px 2px 0 #4f2a0b;

  & p {width: max-content;}
}

.discardPile, .drawPile {
  width: 120px;height: 120px;
  & img{
    max-width: 100%;
  }
}






@media (max-width:1000px){
  .player{
    left: 85px; bottom: 85px;
    height: 150px; width: 100px;
  }
  .playerEnergyContainer{
    transform: scale(.65);
  }
  .discardPile, .drawPile {
    width: 72px;
    height: 72px;

  }
}


