// ../graphics/enemies
.enemy-box .entity{
  position: absolute;
  inset: 0;margin: auto ;
  width: 100%;
  isolation: isolate;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // border: 3px solid red;
  transform-origin: bottom left;
    
  transition:transform 700ms ease-out;

  & img {
    display: initial;
    position: absolute;
    width: 100%; height: auto;
    inset: 0;margin: auto;
    object-fit: contain;
  
    }
  
    & .oneByTwo{
      height: 200%; transform: translateY(-25%);
    }
  
    & .twoByTwo{ 
      transform: scale(2);
    }


  }
  
  .tiger{
    width: 95%;
    background-image: url("../graphics/enemies/basicTiger.jpg");
  }
  
  .bat{
    background-image: url("../graphics/enemies/basicBat.gif");
  }
  
  .bruv{
    background-image: url("../graphics/enemies/basicBruv.gif");
  }
  

  .enemy.attacking{
    animation-name: attacking ;
    animation-duration: 500ms;
  }
  .enemy.defending{
    animation-name: defending ;
    animation-duration: 500ms;
  }
  
