@use "Attack_cards" ;
@use "Skill_cards";
@use "Power_cards";

.card{
  & * {position: absolute;}
  & mark{
    background-color: transparent;
    color: gold;
    text-shadow:  2px 2px 0 #59564f, -1px -1px 0 #59564f, 1px -1px 0 #59564f, -1px 1px 0 #59564f, 1px 1px 0 #59564f;

  }
  & .nameHolder{
    left: 0;right: 0;margin: 0 auto;
    width: 140%;
    transform: translateX(-13.11%);
  }
  & .energyElement{
    box-sizing: initial;
    display: grid;place-items: center;
    top: 35px;left: -10px;
    width: 30%; height: 39px;
    background:url("../graphics/cardIcons/energy-icon.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 30%;
    transform: translate(-60% , -125%);

    border-radius: 50%;
    color: white;
    text-shadow: 3px 3px 0 #59564f, 2px 2px 0 #59564f, -1px -1px 0 #59564f, 1px -1px 0 #59564f, -1px 1px 0 #59564f, 1px 1px 0 #59564f;

    // border: 3px solid black;
  }
  & .nameElement{
    width: 100%; margin: 0;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-shadow: 3px 3px 0 #59564f, 2px 2px 0 #59564f, -1px -1px 0 #59564f, 1px -1px 0 #59564f, -1px 1px 0 #59564f, 1px 1px 0 #59564f;
    text-transform: capitalize;
  }
  & .cardIcon{
    bottom: 50%;
    width: 100%;height: 40%;
    border: 3px solid gold;
    background-position: 50%;
    background-size: 104%;
    background-repeat: no-repeat;
  }
  & .descriptionBox{
    & * {position: unset;}
    display: grid; place-items: center;
    bottom: 0;
    height: 50%;width: 100%;
    background-color: rgb(89, 56, 56);
    
    color: white;
    text-align: center;
    font-size: .6em;
    padding-top: 5px;
  }
}