@use "buffs" ;
@use  "debuffs";
.effectIcon{
  position: relative;
  width: 100%;height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  & .effectUses{
    position: absolute;right: 0;bottom: 0;
    text-shadow:   -1px -1px 0 #59564f, 1px -1px 0 #59564f, -1px 1px 0 #59564f, 1px 1px 0 #59564f;
    
  }

  & .effectDuration{
    position: absolute;left: 0;right: 0;bottom: 50%;
    margin: auto;
    text-shadow:   -1px -1px 0 #59564f, 1px -1px 0 #59564f, -1px 1px 0 #59564f, 1px 1px 0 #59564f;

  }
}

