
.vulnerable{
  background-image: url("../graphics/icons/vulnerable.png");
}
.bleed{
  background-image: url("../graphics/icons/bleed.png");
}
.poison{
  background-image: url("../graphics/icons/poison.png");
}